    {% for post in site.posts %}
          {% if post.category contains page.category %}
              {% if post.url == page.url %}
                  {% assign post_index0 = forloop.index0 %}
                  {% assign post_index1 = forloop.index %}
              {% endif %}
          {% endif %}
    {% endfor %}
    {% for post in site.categories %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = post %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post %}
        {% endif %}
    {% endfor %}

{% if prev_post or next_post %}
  <ul class="post-footer">
    {% if prev_post %}
      <li class="post-footer__item">
        <a href="{{ prev_post.url }}" class="post-footer__link">
          <p class="post-footer__subtitle">Previous</p>
          <p class="post-footer__title">{{ prev_post.title }}</p>
        </a>
      </li>
    {% endif %}

    {% if next_post %}
      <li class="post-footer__item">
        <a href="{{ next_post.url }}" class="post-footer__link">
          <p class="post-footer__subtitle">Next</p>
          <p class="post-footer__title">{{ next_post.title }}</p>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
