<ul class="share">
  <a class="share-item" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ page.url | prepend: site.baseurl | prepend: site.url }}" title="Share on Facebook">
    <li class="fa fa-facebook fa-1x share-facebook"></i>
  </a>

  <a class="share-item" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | prepend: site.baseurl | prepend: site.url }}" title="Share on Twitter">
    <li class="fa fa-twitter fa-1x share-twitter"></li>
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}{% if post.excerpt %}&summary={{ post.excerpt }}{% endif %}&source={{ site.url | prepend: site.baseurl }}" title="Share on LinkedIn">
    <li class="fa fa-linkedin fa-1x share-linkedin"></li>
  </a>
</ul>