---
layout:    default
title:     Blog
---
<section>
  <h1 class="page-heading">{{ page.title }}</h1>
  <ul class="post">
    {% for post in paginator.posts %}
      <li class="post__item">
        <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
          <p class="post__date">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="post__title">{{ post.title }}</h3>
          <p class="post__excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 48 }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<ul class="paginator">
  <li class="paginator-item">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" title="Previous Page" class="paginator-item__link{% if paginator.previous_page %}{{ '' }}{% else %}{{ ' disabled' }}{% endif %}">
      <p class="paginator-item__subtitle">Prev</p>
      <p class="paginator-item__title">{{ paginator.previous_page }}</p>
    </a>
  </li>
  <li class="paginator-item">
    <div title="Current Page" class="paginator-item__link">
      <p class="paginator-item__subtitle">Page</p>
      <p class="paginator-item__title">{{ paginator.page }}</p>
    </div>
  </li>
  <li class="paginator-item">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" title="Next Page" class="paginator-item__link{% if paginator.next_page %}{{ '' }}{% else %}{{ ' disabled' }}{% endif %}">
      <p class="paginator-item__subtitle">Next</p>
      <p class="paginator-item__title">{{ paginator.Next_page }}</p>
    </a>
  </li>
</ul>