---
layout:    default
title:     Blog
---
<section>
  <h1 class="page-heading">{{ page.title }}</h1>
  <ul class="post">
    {% for post in paginator.posts %}
      <li class="post__item">
        <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
          <p class="post__date">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="post__title">{{ post.title }}</h3>
          <p class="post__excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 48 }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<ul class="post-footer">
  <li class="post-footer__item">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" title="Previous Page" class="post-footer__link{% if paginator.previous_page %}{{ '' }}{% else %}{{ ' disabled' }}{% endif %}">
      <p class="post-footer__subtitle">Prev</p>
      <p class="post-footer__title">{{ paginator.previous_page }}</p>
    </a>
  </li>
  <li class="post-footer__item">
    <a href="" title="Current Page" class="post-footer__link disabled">
      <p class="post-footer__subtitle">Page</p>
      <p class="post-footer__title">{{ paginator.page }}</p>
    </a>
  </li>
  <li class="post-footer__item">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" title="Next Page" class="post-footer__link{% if paginator.next_page %}{{ '' }}{% else %}{{ ' disabled' }}{% endif %}">
      <p class="post-footer__subtitle">Page</p>
      <p class="post-footer__title">{{ paginator.next_page }}</p>
    </a>
  </li>
</ul>