.pink {
  color: $pink;
}

.dark-grey {
  color: $dark-grey;
}

.linkedin-blue {
  color: $linkedin-blue
}

.twitter-blue {
  color: $twitter-blue;
}

.linkedin-blue {
  color: $linkedin-blue;
}

.github-gray {
  color: $github-gray;
}
