/* Header
========================================================================== */

header { border-bottom: 1px solid $borders; }

header .container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  max-width: $content-width-wide;
  padding: 1rem 0;
}

/* Navigation
========================================================================== */

nav {
  width: 100%;
}

.nav {
  @include clean-list;
  text-align: right;
  
  li {
    display: inline;
  
    &:first-child .nav__item {
      padding-left: 0;
    }
  }

	  
	.nav__item {
	  @include transition (color $duration $timing);
	  color: $text-secondary;
	  padding-left: 1.4rem;
	  text-decoration: none;

	  &:hover {
		color: $text-primary;
	  }
	  
	  @media #{$medium} {
		font-size: .9rem;
	  }
	}

	.nav__item--current {
	  color: $text-primary;

	  &:hover { color: inherit; }
	}

	.nav-icon {
	  
	}

	.nav-text {
	  padding-bottom: 0.25rem;
	}
  
  
  
}

