.landing-wrapper {
  @include flexbox();
  width: 100%;
  min-height: 100%;
}

.landing-cover {
  align-content: center;
  background-image: url(/assets/images/landing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 1px solid #BBBBBB;
  justify-content: center;
  width: 35%;
}

.landing-content {
  @extend %clearfix;
  align-content: center;
  justify-content: center;
  padding: 4rem 4rem 1rem 4rem;
  width: 65%;
  
  .author img {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

.content-header {
  text-align: right;
  padding-bottom:1rem;
}

@media (min-width: 769px) {
  .author {
    display: none;
  }
}

@media (max-width: 768px) {
  .landing-wrapper {
    height: 100%;
  }

  .landing-cover {
    display: none;
  }

  .content-header {
	text-align: center;
  }
  
  .landing-content {
    margin: 0 auto;
    max-width: 30rem;
    padding: 4px;
    width: 90%;
	
	h1 {
	  text-align: center;
	}
  }

}
