ul.paginator {
  @include clean-list;
  border-top: 1px solid $borders;
  border-bottom: 1px solid $borders;
  list-style: none;
  margin: 0;
  padding: 0;
	
	li {
		display: inline-block;
		
    .paginator-item {
      border-left: 1px solid $borders;
    }
    
		&:first-child .paginator-item {
			border-left: 0;
	  }
	}

  .paginator-item__link {
    @include ellipsis;
    @include transition (background $duration $timing);
    
    color: $text-secondary;
    display: block;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;

    @media #{$medium} {
      padding: 2rem 4rem;
    }

    &:hover { background: $code-background; }
  }
  
  .paginator-item__title {
    @include ellipsis;
    color: $text-primary;
    font-weight: $bold;
    margin: 0;
  }

  .paginator-item__subtitle {
    color: $text-secondary;
    font-size: .9rem;
    margin: 0;
  }
}


