ul.share {
  @include clean-list;

  li {
    display: inline;
    
		.share-item {
	    color: $text-secondary;
			padding-left: 1.4rem;
			text-decoration: none;
			
			&:hover {
				color: $text-primary;
			}
			
			@media #{$medium} {
				font-size: .8rem;
			}
		}
		
		&:first-child .share-item {
			padding-left: 0;
	  }
  }
  li.share-facebook:hover {
    path { fill: $facebook-blue; }
  }
  li.share-twitter:hover {
    path { fill: $twitter-blue; }
  }
  li.share-linkedin:hover {
    path { fill: $linkedin-blue; }
  }
}