ul.social-share-list {
  @include clean-list;
	
  a {
    text-decoration: none;
  }
  li {
    display: inline;
    margin: 0 1rem;
		
    svg {
      width: 2.8rem;
      height: 2.8rem;
      margin: 0;
      path {
        fill: $dark-grey;
      }
    }
  }
  li.share-facebook:hover svg {
    path { fill: $facebook-blue; }
  }
  li.share-twitter:hover svg {
    path { fill: $twitter-blue; }
  }
  li.share-linkedin:hover svg {
    path { fill: $linkedin-blue; }
  }
}