<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="landing-header">
      {% include header.html %}
    </div>
    <div class="landing-wrapper">
      <aside class="landing-cover"> </aside>
      <section class="landing-content">
	    <div class="content-header">
	      {% include nav.html %}
	    </div>	  
        <article class="landing-presentation">
          {{ content }}
        </article>
        {% include footer.html %}
      </section>
    </div>
    {% include ga.html %}
  </body>
</html>
