<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="landing-header">
      {% include header.html %}
    </div>
    <div class="landing-wrapper">
      <aside class="landing-cover"> </aside>
      <section class="landing-content">
        <a href="http://ausmurp.com">
          <img class="landing-logo" viewBox="0 0 124 102" src="assets/images/me-pixel.png" />
        </a>
        <article class="landing-presentation">
          {{ content }}
        </article>
        {% include footer.html %}
      </section>
    </div>
    {% include ga.html %}
  </body>
</html>
